<!DOCTYPE html>
<html>
<head>
  <title>Todoapp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body style="height: 100vh" class="d-flex flex-column">

<%= render 'layouts/navigation' %>
<%= render 'layouts/messages' %>

<main role="main" class="flex-shrink-0">
  <div class="container">
    <%= yield %>
  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>

</body>
</html>
